body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:195px;
}
#u0 {
  position:absolute;
  left:52px;
  top:93px;
  width:466px;
  height:195px;
}
#u1 {
  position:absolute;
  left:2px;
  top:90px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:275px;
}
#u2 {
  position:absolute;
  left:701px;
  top:13px;
  width:461px;
  height:275px;
}
#u3 {
  position:absolute;
  left:2px;
  top:130px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:43px;
}
#u4 {
  position:absolute;
  left:108px;
  top:319px;
  width:1054px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#019D9A;
  text-align:left;
}
#u5 {
  position:absolute;
  left:18px;
  top:5px;
  width:1034px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:43px;
}
#u6 {
  position:absolute;
  left:66px;
  top:319px;
  width:59px;
  height:43px;
  font-size:48px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:-7px;
  width:55px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#019D9A;
}
#u8 {
  position:absolute;
  left:66px;
  top:398px;
  width:42px;
  height:78px;
  font-size:72px;
  color:#019D9A;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:118px;
  top:408px;
  width:399px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:135px;
  top:481px;
  width:379px;
  height:273px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:273px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#019D9A;
}
#u13 {
  position:absolute;
  left:66px;
  top:841px;
  width:42px;
  height:78px;
  font-size:72px;
  color:#019D9A;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:118px;
  top:851px;
  width:378px;
  height:19px;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:135px;
  top:924px;
  width:379px;
  height:273px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:273px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:43px;
}
#u18 {
  position:absolute;
  left:116px;
  top:791px;
  width:1054px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#019D9A;
  text-align:left;
}
#u19 {
  position:absolute;
  left:18px;
  top:5px;
  width:1034px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:43px;
}
#u20 {
  position:absolute;
  left:74px;
  top:791px;
  width:59px;
  height:43px;
  font-size:48px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:-7px;
  width:55px;
  word-wrap:break-word;
}
